@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2bxicz');
  src:  url('fonts/icomoon.eot?2bxicz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2bxicz') format('truetype'),
    url('fonts/icomoon.woff?2bxicz') format('woff'),
    url('fonts/icomoon.svg?2bxicz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
