<nav class="navbar">
    <ul class="navbar__list navbar__list--toplevel">
        <li class="navbar__list-item">
            <a href="https://scheme.org"
                class="navbar__link navbar__link--clickable navbar__link--schemeorg">Scheme.org</a>
        </li>
        <ng-container *ngFor="let item of navbarItems | async">
          <ng-container *ngTemplateOutlet="navbaritem; context: {item: item}"/>
        </ng-container>
        <li class="navbar__list-item">
            <a href="/README.html" class="navbar__link navbar__link--clickable">
                <fa-icon [icon]="faFile"></fa-icon>
                Documentation
            </a>
        </li>
    </ul>
    <div id="theme-cb-wrapper">
        <select #themecb id="theme-cb" (change)="onSelectTheme(themecb.value)" [(ngModel)]="selectedTheme">
            <option value="default">System default</option>
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>
        theme
    </div>
</nav>
<div class="routeview">
    <router-outlet></router-outlet>
</div>

<ng-template #navbaritem let-item="item">
    <li class="navbar__list-item">
        <span class="navbar__link navbar__link--active" *ngIf="item.isActive">
            <fa-icon *ngIf="item.icon" [icon]="item.icon"></fa-icon>&nbsp;{{item.label}}
        </span>
        <a [routerLink]="item.link" class="navbar__link navbar__link--clickable" *ngIf="!item.isActive && item.link">
            <fa-icon *ngIf="item.icon" [icon]="item.icon"></fa-icon>&nbsp;{{item.label}}
        </a>
        <span class="navbar__link" *ngIf="!item.isActive && !item.link">
            <fa-icon *ngIf="item.icon" [icon]="item.icon"></fa-icon>&nbsp;{{item.label}}
        </span>
        <ul class="navbar__list navbar__list--nestedlevel" *ngIf="item.items.length > 0">
          <ng-container *ngFor="let item of item.items">
            <ng-container *ngTemplateOutlet="navbaritem; context: {item: item}" />
          </ng-container>
        </ul>
    </li>
</ng-template>

<div class="overlay" *ngIf="errorHandler.error$ | async; let err">
    <div class="error-window animated-enter">
        <button class="error-window-close primary-button" (click)="closeErrorWindow()"><fa-icon [icon]="faTimes"></fa-icon></button>
        <div class="error-window-message"><fa-icon [icon]="err.icon"></fa-icon> {{err.message}}</div>
        <div class="error-window-details">{{err.details}}</div>
    </div>
</div>
