:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: Roboto;
    background-color: var(--bg-color);
    color: var(--text-color-against-bg);
}

.routeview {
    flex: 1;
    overflow: auto;
}

@keyframes animate-submenu-enter {
    0% {
        opacity: 0.1;
        transform: translate(0,-20px);
    }
    100% {
    }
}

.navbar {

    display: flex;
    align-items: flex-start;

    background-color: var(--nav-bg-color);

    &__list {
        margin: 0;
        padding: 0;

        &--toplevel {
            display: flex;
            align-items: end;
            flex-wrap: wrap;
        }

        &--nestedlevel {
            display: none;
            grid-template-columns: 1fr 1fr;
            color: var(--accent-color);
            background-color: var(--bg-color2);
            border: solid 2px var(--accent-color);
            border-radius: 5px;
            position: absolute;
            z-index: 10000;
            top: 100%;
            padding: 0.5em;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
            clip-path: inset(0px -24px -24px -24px);
            animation-duration: 0.7s;
            animation-name: animate-submenu-enter;
            animation-delay: 0.0s;
            animation-fill-mode: backwards;
            animation-timing-function: cubic-bezier(0.13, 0.79, 0.09, 1.03);
            overflow: hidden;
        }
    }

    &__list-item {
        position: relative;
        display: inline-block;
    }

    &__link {
        display: block;
        text-decoration: none;
        padding: 5px;
        color: var(--nav-text-color);
        cursor: default;
        white-space: nowrap;

        &--clickable {
            cursor: pointer;
        }
    }

    &__link--active,
    &__link:hover {
        color: var(--accent-color);
        background-color: var(--bg-color2);
    }

    &__link--schemeorg {
        font-style: italic;
    }

    &__list-item:hover &__link {
        background-color: var(--bg-color2);
    }
}

.navbar__list--toplevel .navbar__list-item:hover .navbar__list--nestedlevel
{
    display: grid;
}

.theme-cb-wrapper {
    margin-left: auto;
    margin-right: 2em;
}

.theme-cb-wrapper.hidden {
    display: none;
}

.theme-cb {
    border: none;
    padding: 5px;
    color: var(--nav-text-color);
    background-color: var(--bg-color2);
    text-align: end;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-window {
    background-color: var(--bg-color2);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-window-close {
    align-self: end;
}

.error-window-message {
    font-size: 1.2em;
    margin: 1em;
    color: var(--accent-color);
}

.error-window-details {
    font-size: 0.9em;
    margin: 1em;
    color: var(--text-color-muted);
}
