<main class="index-page animated-enter">
    <h1 class="index-page__header">Scheme index</h1>
    <p>Scheme index allows searching for Scheme procedures, syntax and constants through types, tags, and names. 

    <div class="index-page__filtersets" *ngFor="let group of filtersetGroups | async">
        <ng-container *ngFor="let filterset of group.filtersets">
            <a routerLink="/filterset/{{filterset.code}}/search" class="index-page__filterset">
                <span class="index-page__filterset-text">{{filterset.name}}</span>
            </a>
        </ng-container>
    </div>

    <p class="index-page__completeness-note">Scheme index is an ongoing process that prioritizes popular SRFIs. Niche SRFIs might be missing.</p>

    <h2 class="index-page__header">Report an issue</h2>
    <p>Please report any issues or suggestions you may have at <a class="index-page__text-link"
            href="https://github.com/schemeorg-community/index.scheme.org/issues">github</a>.</p>
</main>
