@if (collapsed) {
  <aside class="filter-pane__hidden-controls">
    <button id="search-controls-open" class="filter-pane__controls-open" aria-label="Expand search controls"
      (click)="collapseChange.emit(false)">
      <fa-icon [icon]="faCircleRight"></fa-icon>
    </button>
    <span class="filter-pane__controls-hidden-header-text">Search controls</span>
  </aside>
}
@if (!collapsed) {
  <aside class="filter-pane__controls" aria-label="Search controls">
    <div class="filter-pane__controls-visible-header">
      <h2 class="filter-pane__controls-visible-header-text">{{filterset}}</h2>
      <button id="search-controls-close" class="filter-pane__controls-close" aria-label="Collapse search controls"
        (click)="collapseChange.emit(true)">
        <fa-icon [icon]="faCircleLeft"></fa-icon>
      </button>
    </div>
    <form #form method="get" action="" class="filter-pane__filter-form">
      <div class="filter-pane__query-cnt">
        <input id="query-field" name="query" autocomplete="off" value="{{queryString}}" class="filter-pane__query"
          placeholder="Search ..." aria-label="Search text" #querytextfield (input)="searchChange()">
        @if (showSearchButton()) {
          <button (click)="onSearchButtonClick()" class="filter-pane__search-btn">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        }
      </div>
      <div class="filter-pane__facets">
        @for (facet of facets; track facet) {
          @if (facet.options.length) {
            <div class="filter-pane__facet-wrap">
              <fieldset class="filter-pane__facet">
                <div class="filter-pane__facet-header">
                  @if (!facet.collapsed) {
                    <button class="filter-pane__facet-button"
                      [attr.aria-label]="'Collapse ' + facet.title + ' facet'"
                      (click)="facet.collapsed = true">
                      <fa-icon [icon]="faFolderOpen"></fa-icon>
                    </button>
                  }
                  @if (facet.collapsed) {
                    <button class="filter-pane__facet-button" [attr.aria-label]="'Expand ' + facet.title + ' facet'"
                      (click)="facet.collapsed = false">
                      <fa-icon [icon]="faFolderClosed"></fa-icon>
                    </button>
                  }
                  <legend class="filter-pane__facet-legend">{{facet.title}}</legend>
                </div>
                @if (facet.showControls) {
                  <div class="filter-pane__facet-controls">
                    @if (!facet.collapsed) {
                      <input class="filter-pane__facet-search"
                        placeholder="Filter {{facet.title}} facet ..."
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="facet.filter"
                        [attr.aria-label]="'Filter ' + facet.title + ' facet'"
                        >
                    }
                  </div>
                }
                @if (!facet.collapsed) {
                  @for (option of facet.options | facetFilter: facet.filter; track option) {
                    <label class="filter-pane__facet-option checklist-item">
                      <input type="checkbox"
                        name="{{option.name}}"
                        value="{{option.value}}"
                        class="checklist-item__value-input"
                        [checked]="option.checked"
                        (change)="searchChange()">
                      &ngsp;
                      <span class="checklist-item__value-text">
                        <span class="filter-pane__facet-value">{{option.label}}</span>
                        &ngsp;
                        <span class="filter-pane__facet-count">({{option.count}})</span>
                      </span>
                    </label>
                  }
                }
              </fieldset>
            </div>
          }
        }
      </div>
    </form>
  </aside>
}
