/* COMMON */
html {
    scrollbar-color: var(--accent-color) var(--bg-color2);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    background-color: var(--bg-color);
    color: var(--text-color-against-bg);
    height: 100%;
    margin: 0;
}

p {
    margin: 0.5em;
}

/* NAVIGATION */

nav {
    display: flex;
    align-items: end;
    align-self: stretch;
    padding-top: 5px;
    background-color: var(--accent-color);
}

.nav-link, .nav-link-active {
    padding: 5px;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color-against-accent);
}

.nav-link-active {
    color: var(--accent-color);
    font-weight: bold;
    background-color: var(--bg-color2);
}

.index-page,
.settings-page,
.userguide-page,
.restapi-page {
    background-color: var(--bg-color2);
    max-width: 960px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.facet-count {
    font-size: 0.8em;
    color: var(--text-color-muted);
}

.search-page {
    align-self: stretch;
    min-height: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.search-controls {
    background-color: var(--bg-color2);
    min-width: 150px;
    flex: 1;
    padding: 5px;
    overflow-y: auto;
}

.search-form {
    display: flex;
    flex-direction: column;
}

.facets {
    margin-top: 10px;
    overflow-y: auto;
}

.facet legend {
    color: var(--accent-color);
}

.search-result {
    overflow-y: auto;
    flex: 3;
    padding: 10px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.procedure {
    background-color: var(--bg-color2);
    padding: 0.5em;
    border-top: 1px gray solid;
    border-left: 1px gray solid;
    border-right: 1px gray solid;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "lib tags"
        "sig sig"
        "param-sig param-sig"
}

.lib {
    font-size: 0.8em;
    grid-area: lib;
    margin-bottom: 0.8em;
}

.lib-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.lib-link:hover {
    text-decoration: underline;
}

.main-signature {
    font-size: 1.5em;
    grid-area: sig;
}

.param-signatures, .subsyntax-signatures-block {
    grid-area: param-sig;
}

.param-signatures, .subsyntax-signatures-block, .syntax-param-signatures {
    margin-top: 0.8em;
}

.subsyntax-signatures {
    display: grid;
}

@media (min-width: 600px) {
    .subsyntax-signatures-header {
        grid-column: 1 / span 2;
    }
    .subsyntax-signatures {
        grid-template-columns: auto 1fr;
    }
}

@media (max-width: 600px) {
    .subsyntax-signatures {
        grid-template-columns: 1fr;
    }
}

.subsyntax-signatures-header {
    margin-bottom: 0.5em;
}

.subsyntax-rules {
    margin-bottom: 1em;
}

.param-signature, .subsyntax-signature {
    font-size: 1.2em;
}

.subsyntax-name {
    font-family: monospace;
    color: var(--text-color-muted);
    margin-right: 5px;
}

.subsyntax-signature {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.tags {
    grid-area: tags;
    display: flex;
    justify-self: end;
    align-self: start;
}

.tag {
    transform: translateY(-0.5em);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    border: solid gray 1px;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    color: var(--secondary-color);
}

.tag:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.procedure:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.procedure:last-child {
    border-bottom: 1px gray solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chunk {
    display: flex;
    margin-left: 5px;
}

.settings-group {
    margin-top: 0.5em;
}

.settings-group-value,
.facet-option {
    display: block;
    padding: 0.1em;
    vertical-align: middle;
    cursor: pointer;
}

.settings-group-value input,
.facet-option input {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    border: 2px solid var(--text-color-muted);
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.settings-group-value input:checked,
.facet-option input:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.settings-group-value input:checked + .settings-group-value-text,
.facet-option input:checked + .facet-text { 
    color: var(--accent-color);
}

.settings-group-value:hover input,
.settings-group-value:hover input + .settings-group-value-text,
.facet-option:hover input,
.facet-option:hover input + .facet-text
{
    opacity: 0.8;
}

.query-cnt {
    display: flex;
    align-items: stretch;
}

.search-button, .save-preferences-button {
    height: 2.5em;
    margin-left: 5px;
    margin-right: 5px;
    width: 60px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    color: var(--text-color-against-accent);
    font-size: 1em;
    cursor: pointer;
}

.save-preferences-button:hover,
.search-button:hover {
    opacity: 0.7;
}

.save-preferences-button {
    margin-top: 1em;
}

.query {
    min-width: 0;
    flex: 1;
    border: solid gray 1px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color-against-bg);
}

.pager {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-self: center;
}

.page {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color-muted);
    font-weight: bold;
    background-color: var(--bg-color2);
    min-width: 1.5em;
    padding: 0.2em;
    line-height: 1.5em;
    text-align: center;
    border-top: solid gray 1px;
    border-left: solid gray 1px;
    border-bottom: solid gray 1px;
}

.page:hover {
    background-color: var(--accent-color-hover);
}

.page:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.page:last-child {
    border-right: solid gray 1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.page.active {
    background-color: var(--accent-color);
    color: var(--text-color-against-accent);
    cursor: default;
    border-color: var(--accent-color);
}

.page-gap {
    color: var(--text-color-muted);
    background-color: var(--bg-color2);
    min-width: 1.5em;
    padding: 0.2em;
    line-height: 1.5em;
    text-align: center;
    border-top: solid gray 1px;
    border-left: solid gray 1px;
    border-bottom: solid gray 1px;
}

.sig-right-margin {
    margin-right: 5px;
}

h1, h2 {
    color: var(--accent-color);
}

.restapi-page .rest-url {
    font-family: monospace;
    background-color: var(--bg-color);
}

.index-page .search {
    align-self: center;
    display: flex;
    max-width: 600px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    color: var(--text-color-muted);
}

fieldset {
    border: 1px gray solid;
    border-radius: 5px;
}


/*******************************/

.sexpr {
    font-family: monospace;
}

.sexpr-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.sexpr-shrink {
    flex-shrink: 1;
}

.muted {
    color: var(--text-color-muted);
}

.syntaxbracket-0 {
    color: var(--text-color-muted);
}

.syntaxbracket-1 {
    font-weight: bold;
    color: var(--accent-color);
}

.syntaxbracket-2 {
    font-weight: bold;
    color: var(--secondary-color);
}

.spacer {
    width: 0.25em;
}

.bright-name {
    font-weight: bold;
    color: var(--accent-color);
}

.muted-name {
    font-weight: bold;
    color: var(--text-color-muted);
}

.bright-type {
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}

.bright-type:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.bright-syntax {
    font-weight: bold;
    color: var(--tertary-color);
    text-decoration: none;
}

.muted-type {
    font-weight: bold;
    color: var(--text-color-muted);
}

.result-item-block-header {
    font-size: 0.8em;
    color: var(--text-color-muted);
}

/* SETTINGS */

.settings-form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.settings-form-group {
    display: flex;
    margin-top: 10px;
}

.settings-form-label {
    flex: 1;
}

.settings-form-input {
    width: 200px;
}

.settings-tip,
.settings-group-tip {
    font-size: 0.9em;
    color: var(--text-color-muted);
}

.examples-tip {
    color: var(--text-color-muted);
}

.settings-tip {
    margin-bottom: 1em;
}

.example-link {
    color: var(--secondary-color);
}

.text-link {
    color: var(--secondary-color);
}
