<article class="search-item" *ngIf="componentSearchItem | async; let item">
    <div class="search-item__lib">
        <a [href]="item.lib.href" class="search-item__lib-link">{{item.lib.label}}</a>
    </div>
    <div class="search-item__main-signature signature">
        <ng-container *ngIf="item.signature.type === 'function'">
            <div *ngFor="let variant of item.signature.variants">
                <ng-container *ngTemplateOutlet="function_signature; context: {item: item.searchItem, name: item.name, variant: variant, nolink: false}"/>
            </div>
        </ng-container>
        <ng-container *ngIf="item.signature.type === 'value'">
            <ng-container *ngTemplateOutlet="value_signature; context: {item: item.searchItem, name: item.name, value: item.signature.value}"/>
        </ng-container>
        <ng-container *ngIf="item.signature.type === 'syntax'">
            <div *ngFor="let variant of item.signature.patterns">
                <ng-container *ngTemplateOutlet="syntax_signature; context: {item: item.searchItem, variant: variant, literals: item.signature.literals}"/>
            </div>
        </ng-container>
    </div>

    <div class="search-item__extra-info">
        <div class="search-item__block search-item__block--params" *ngIf="item.subsignatures">
            <div class="search-item__param-signature signature" *ngFor="let subsig of item.subsignatures">
                <ng-container *ngIf="subsig.signature.type === 'function'">
                    <div *ngFor="let variant of subsig.signature.variants">
                        <ng-container *ngTemplateOutlet="function_signature; context: {item: item.searchItem, name: subsig.name, variant: variant, nolink: true}"/>
                    </div>
                </ng-container>
                <ng-container *ngIf="subsig.signature.type === 'value'">
                    <ng-container *ngTemplateOutlet="value_signature; context: {item: item.searchItem, name: subsig.name, value: subsig.signature.value}"/>
                </ng-container>
                <ng-container *ngIf="subsig.signature.type === 'vector'">
                    <ng-container *ngTemplateOutlet="vector_signature; context: {item: item.searchItem, name: subsig.name, element: subsig.signature.element}"/>
                </ng-container>
                <ng-container *ngIf="subsig.signature.type === 'list'">
                    <ng-container *ngTemplateOutlet="list_signature; context: {item: item.searchItem, name: subsig.name, element: subsig.signature.element}"/>
                </ng-container>
                <ng-container *ngIf="subsig.signature.type === 'alist'">
                    <ng-container *ngTemplateOutlet="alist_signature; context: {item: item.searchItem, name: subsig.name, car: subsig.signature.car, cdr: subsig.signature.cdr}"/>
                </ng-container>
                <ng-container *ngIf="subsig.signature.type === 'pattern'">
                    <ng-container *ngTemplateOutlet="pattern_signature; context: {name: subsig.name, literals: getSyntaxLiterals(item.signature), patterns: subsig.signature.patterns}"/>
                </ng-container>
            </div>
        </div>

        <div class="search-item__block search-item__block-description" *ngIf="item.description">{{item.description}}</div>
    </div>

    <div class="search-item__tags" *ngIf="item.tags.length">
        <ng-container *ngFor="let tag of item.tags">
            <a class="search-item__tag search-item__tag-{{tag.label}}" *ngIf="tag.link; let link" [routerLink]="link.routerLink" [queryParams]="link.queryParams">{{tag.label}}</a>
        </ng-container>
    </div>
</article>

<ng-template #function_signature let-name="name" let-item="item" let-variant="variant" let-nolink="nolink">
    (<span class="signature__name" *ngIf="nolink || !routerResolver(item, 'name', name)">{{name}}</span><a class="signature__name" *ngIf="!nolink && routerResolver(item, 'name', name); let link" [routerLink]="link.routerLink" [queryParams]="link.queryParams">{{name}}</a>
    <ng-container *ngFor="let param of variant.params">&ngsp;<ng-container *ngTemplateOutlet="function_param; context: {item: item, param: param, nolink: nolink}"/></ng-container>)
    <ng-container *ngTemplateOutlet="function_return; context: {item: item, return: variant.return, nolink: nolink}"/>
</ng-template>

<ng-template #function_param let-param="param" let-item="item" let-nolink="nolink">
    <ng-container *ngIf="param.types.length">(<ng-container *ngFor="let type of param.types; let last = last">
            <ng-container *ngIf="!nolink"><a *ngIf="routerResolver(item, 'param', type); let link" [routerLink]="link.routerLink" [queryParams]="link.queryParams" class="signature__type">{{type}}</a></ng-container>
            <ng-container *ngIf="nolink"><span class="signature__type">{{type}}</span></ng-container>
            <ng-container *ngIf="!last">/</ng-container></ng-container>&ngsp;{{param.name}})</ng-container>
    <ng-container *ngIf="!param.types.length">{{param.name}}</ng-container>
</ng-template>

<ng-template #function_return let-item="item" let-return="return" let-nolink="nolink">
    <ng-container *ngIf="return.type !== 'undefined'">
        =&gt; 
        <ng-container *ngTemplateOutlet="function_return_internal; context: {item: item, return: return, nolink: nolink}"/>
    </ng-container>
</ng-template>

<ng-template #function_return_internal let-item="item" let-return="return" let-nolink="nolink">
    <ng-container *ngIf="return.kind === 'return' && return.type === '#f'">
        <span class="signature__false-literal">{{return.type}}</span>
    </ng-container>
    <ng-container *ngIf="return.kind === 'return' && !isAuxiliaryType(return.type)">
        <ng-container *ngIf="!nolink"><a *ngIf="routerResolver(item, 'return', return.type); let link" class="signature__type" [routerLink]="link.routerLink" [queryParams]="link.queryParams">{{return.type}}</a></ng-container>
        <ng-container *ngIf="nolink"><span class="signature__type">{{return.type}}</span></ng-container>
    </ng-container>
    <ng-container *ngIf="return.kind === 'return' && isAuxiliaryType(return.type) && return.type !== '#f'">
        {{return.type}}
    </ng-container>
    <ng-container *ngIf="return.kind === 'values'">
        (values 
        <ng-container *ngFor="let r of return.items">
            &ngsp;<ng-container *ngTemplateOutlet="function_return_internal; context: {item: item, return: r}"/>
        </ng-container>)
    </ng-container>
    <ng-container *ngIf="return.kind === 'or'">
        <ng-container *ngFor="let r of return.items; let last = last">
            <ng-container *ngTemplateOutlet="function_return_internal; context: {item: item, return: r}">
            </ng-container>
            <ng-container *ngIf="!last">/</ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #value_signature let-item="item" let-name="name" let-value="value">
    <span class="signature__name">{{name}}</span> <ng-container *ngTemplateOutlet="function_return; context: {item: item, return: value}"/>
</ng-template>

<ng-template #syntax_signature let-item="item" let-variant="variant" let-literals="literals">
    <ng-container *ngFor="let part of highlightSyntaxSignature(item.name, literals, variant.pattern)">
        <ng-container *ngTemplateOutlet="colored_text; context: {part: part}"/>
    </ng-container>
    <ng-container *ngIf="variant.type">
        <ng-container *ngTemplateOutlet="function_return; context: {item: item, return: {kind: 'return', type: variant.type, items: []}}"/>
    </ng-container>
</ng-template>

<ng-template #vector_signature let-item="item" let-name="name" let-element="element">
    {{name}} =&gt; #(<ng-container *ngTemplateOutlet="function_param; context: {item: item, param: element}"/> ...)
</ng-template>

<ng-template #list_signature let-item="item" let-name="name" let-element="element">
    {{name}} =&gt; '(<ng-container *ngTemplateOutlet="function_param; context: {item: item, param: element}"/> ...)
</ng-template>

<ng-template #alist_signature let-item="item" let-name="name" let-car="car" let-cdr="cdr">
    {{name}} =&gt; '((<ng-container *ngTemplateOutlet="function_param; context: {item: item, param: car}"/> . <ng-container *ngTemplateOutlet="function_param; context: {item: item, param: cdr}"/>) ...)
</ng-template>

<ng-template #pattern_signature let-name="name" let-literals="literals" let-patterns="patterns">
    <div class="signature__pattern-block">
        <div class="signature__pattern-block-name">{{name}} :=</div>
        <div>
            <div *ngFor="let p of patterns">
                <ng-container *ngFor="let p of highlightLiterals(literals, p)">
                    <ng-container *ngTemplateOutlet="colored_text; context: {part: p}"/>
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #colored_text let-part="part">
    <ng-container *ngIf="part.kind === 'plain'">{{part.text}}</ng-container>
    <span class="signature__syntax" *ngIf="part.kind === 'literal'">{{part.text}}</span>
    <span class="signature__syntax" *ngIf="part.kind === 'name'">{{part.text}}</span>
</ng-template>
