$padding-breakpoint: 1000px;
$media-breakpoint: 600px;


.search-item {
    background-color: var(--bg-color2);
    padding: 1em;
    line-height: 1.5em;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "lib tags"
        "sig sig"
        "extra-info extra-info";

   &__lib {
       font-size: 0.8em;
       grid-area: lib;
       margin-bottom: 0.8em;
   }

   &__lib-link {
       color: var(--secondary-color);
       text-decoration: none;
   }

   &__lib-link:hover {
       text-decoration: underline;
   }

   &__main-signature {
       font-size: 1.5em;
       grid-area: sig;
   }

   &__extra-info {
       grid-area: extra-info;
   }

   &__block{
       margin-top: 0.8em;
   }


   &__block-description {
       white-space: pre-wrap;
       color: var(--text-color-muted);
   }

   &__spec-value-field-name {
       color: var(--text-color-muted);
       font-weight: bold;
   }

   &__spec-value-field-values {
       display: grid;
       grid-template-columns: auto 1fr;
       column-gap: 1em;
       row-gap: 0.5em;
   }

   @media (max-width: $media-breakpoint) {
       &__spec-value-field-values {
           grid-template-columns: 1fr;
       }
   }

   &__spec-value-field-value {
       color: var(--tertary-color);
       font-weight: bold;
   }

   &__spec-value-field-value-desc {
       color: var(--text-color-muted);
   }

   &__parameterized-by {
       font-family: monospace;
   }

   &__param-signature {
       font-size: 1.2em;
   }

   &__subsyntax-rules {
       margin-bottom: 1em;
   }

   &__subsyntax-name-wrapper {
       color: var(--text-color-muted);
       margin-right: 5px;
   }

   &__subsyntax-name {
       font-weight: bold;
   }

   &__subsyntax-signatures {
       display: grid;
       font-family: monospace;
       font-size: 1.2em;
   }

   @media (min-width: $media-breakpoint) {
       &__block--subsyntax &__block-header {
           grid-column: 1 / span 2;
       }
       &__subsyntax-signatures {
           grid-template-columns: auto 1fr;
       }
   }

   @media not all and (min-width: $media-breakpoint) {
       &__subsyntax-signatures {
           grid-template-columns: 1fr;
       }
   }

   &__block--subsyntax &__block-header {
       margin-bottom: 0.5em;
   }

   &__tags {
       grid-area: tags;
       display: flex;
       justify-self: end;
       align-self: start;
   }

   &__tag {
       transform: translateY(-0.5em);
       padding-left: 0.5em;
       padding-right: 0.5em;
       margin-left: 0.5em;
       border-radius: 5px;
       text-decoration: none;
       color: var(--tag-color);
       background-color: var(--tag-bg-color);
   }

   &__tag:hover {
       text-decoration: underline;
   }

}

.signature {
    font-family: monospace;
    &__name {
        font-weight: bold;
        color: var(--accent-color);
    }
    &__name--syntax {
        font-weight: bold;
        color: var(--tertary-color);
    }
    &__type {
        font-weight: bold;
        color: var(--secondary-color);
    }
    &__false-literal {
        font-weight: bold;
        color: var(--tertary-color);
    }
    &__syntax {
        font-weight: bold;
        color: var(--tertary-color);
    }
    &__pattern-block {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    &__pattern-block-name {
       margin-right: 1em;
    }
}

.sexpr {
    font-family: monospace;

    &.sexpr-flex {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    &.sexpr-shrink {
        flex-shrink: 1;
    }

    &.muted {
        color: var(--text-color-muted);
    }

    &.syntaxbracket-0 {
        color: var(--text-color-muted);
    }

    &.syntaxbracket-1 {
        font-weight: bold;
        color: var(--accent-color);
    }

    &.syntaxbracket-2 {
        font-weight: bold;
        color: var(--secondary-color);
    }

    &.spacer {
        width: 0.25em;
    }

    &.wide-spacer {
        width: 0.75em;
    }

    &.bright-name {
        font-weight: bold;
        color: var(--accent-color);
    }

    &.muted-name {
        font-weight: bold;
        color: var(--text-color-muted);
    }

    &.bright-type {
        font-weight: bold;
        color: var(--secondary-color);
        text-decoration: none;
        cursor: pointer;
    }

    &.bright-type:hover {
        text-decoration: underline;
        opacity: 0.7;
    }

    &.bright-syntax {
        font-weight: bold;
        color: var(--tertary-color);
    }

    &.muted-type {
        font-weight: bold;
        color: var(--text-color-muted);
    }

    &.result-item-block-header {
        font-size: 0.8em;
        color: var(--text-color-muted);
    }

}
