@use 'lighttheme';
@use 'darktheme';
@use 'common';
@use 'index';
@use 'navigation';
@use 'search';
@use 'settings';

p {
    margin: 0.5em;
}

fieldset {
    border: none;
}

body {
    opacity: 1;
    transition: opacity 0.2s;
}

.js-enabled body.preload {
    opacity: 0;
}
