$media-breakpoint: 600px;

.preload * {
    transition-duration: 0s !important;
    display: none;
}

.search-page {

    align-self: stretch;
    min-height: 0;
    flex: 1;
    display: flex;
    flex-direction: row;

    &__controls {
        background-color: var(--bg-color2);
        min-width: 250px;
        flex: 1;
        padding: 5px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        transition-property: flex;
        transition-duration: 0.2s;
    }

    &__controls--hidden {
        padding-top: 10px;
        flex: 0;
        min-width: unset;
        overflow: visible;
        background-color: var(--bg-color);

        .search-page__filter-form,
        .search-page__controls-visible-header {
            display: none;
        }

        .search-page__controls-hidden-header {
            display: flex;
        }
    }

    &__controls-hidden-header {
        padding-top: 10px;
        flex: 1;
        align-self: start;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--nav-bg-color);
    }

    &__controls-hidden-header-text {
        color: var(--nav-text-color);
        margin-top: 1em;
        writing-mode: vertical-lr; 
        transform: rotate(180deg);
    }

    &__controls-visible-header {
        display: flex;
    }

    &__controls-visible-header-text {
        flex: 1;
        color: var(--accent-color);
        font-size: 1em;
        margin: 0;
    }

    &__controls-open,
    &__controls-close {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__controls-close {
        color: var(--accent-color);
        transform: rotate(180deg);
        align-self: end;
    }

    &__controls-open {
        color: var(--nav-text-color);
    }

    &__filter-form {
        display: flex;
        flex-direction: column;
    }

    &__facets {
        margin-top: 10px;
        overflow-y: auto;
    }

    &__facet-controls {
        display: flex;
        align-items: stretch;
        padding-bottom: 10px;
    }

    &__facet-button {
        background-color: transparent;
        color: var(--accent-color);
        border: 1px solid var(--accent-color);
        border-radius: 5px;
        margin-right: 5px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: var(--accent-color);
            color: var(--text-color-against-accent);
        }

        &--collapsed {
            display: none;
        }
    }

    &__facet-wrap + &__facet-wrap {
        margin-top: 1em;
        padding-top: 1em;
        border-top: solid rgb(0, 0, 0, 0.2) 1px;
    }

    &__facet--collapsed {
        .search-page__facet-search,
        .search-page__facet-button--expanded,
        .search-page__facet-option
        {
            display: none;
        }

        .search-page__facet-button--collapsed {
            display: initial;
        }
    }

    &__facet-option--filtered {
        display: none;
    }

    &__facet-legend {
        color: var(--accent-color);
    }

    &__facet-count {
        font-size: 0.8em;
        color: var(--text-color-muted);
    }

    &__search-result {
        overflow-y: auto;
        flex: 3;
        padding: 2em;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    @media (max-width: $media-breakpoint) {
        &__search-result {
            padding: 0;
        }
    }

    &__query-cnt {
        margin-top: 10px;
        display: flex;
        align-items: stretch;
    }

    
    &__query, &__facet-search {
        min-width: 0;
        flex: 1;
        border: solid gray 1px;
        border-radius: 5px;
        padding: 10px;
        background-color: var(--bg-color);
        color: var(--text-color-against-bg);
    }

    &__search-result-list {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 24px;
    }
}

@media (max-width: $media-breakpoint) {
    .search-page__controls:not(.search-page__controls--hidden) + .search-page__search-result {
        display: none;
    }
}

.pager {
    margin-top: 20px;
    display: flex;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 24px;

    &__page {
        cursor: pointer;
        text-decoration: none;
        color: var(--text-color-muted);
        font-weight: bold;
        background-color: var(--bg-color2);
        min-width: 1.5em;
        padding: 0.2em;
        line-height: 1.5em;
        text-align: center;
    }

    &__page--inactive:hover {
        background-color: var(--accent-color);
        color: var(--text-color-against-accent);
    }

    &__page:first-child {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    &__page:last-child {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__page--active {
        background-color: var(--accent-color);
        color: var(--text-color-against-accent);
        cursor: default;
    }

    &__gap {
        color: var(--text-color-muted);
        background-color: var(--bg-color2);
        min-width: 1.5em;
        padding: 0.2em;
        line-height: 1.5em;
        text-align: center;
    }
}

.search-item {
    background-color: var(--bg-color2);
    padding: 1em;
    line-height: 1.5em;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "lib tags"
        "sig sig"
        "extra-info extra-info";

   & + .search-item {
       border-top: solid rgb(0, 0, 0, 0.2) 1px;
   }

   &__lib {
       font-size: 0.8em;
       grid-area: lib;
       margin-bottom: 0.8em;
   }

   &__lib-link {
       color: var(--secondary-color);
       text-decoration: none;
   }

   &__lib-link:hover {
       text-decoration: underline;
   }

   &__main-signature {
       font-size: 1.5em;
       grid-area: sig;
   }

   &__extra-info {
       grid-area: extra-info;
   }

   &__block{
       margin-top: 0.8em;
   }

   &__spec-value-field-name {
       color: var(--text-color-muted);
       font-weight: bold;
   }

   &__spec-value-field-values {
       display: grid;
       grid-template-columns: auto 1fr;
       column-gap: 1em;
       row-gap: 0.5em;
   }

   @media (max-width: $media-breakpoint) {
       &__spec-value-field-values {
           grid-template-columns: 1fr;
       }
   }

   &__spec-value-field-value {
       color: var(--tertary-color);
       font-weight: bold;
   }

   &__spec-value-field-value-desc {
       color: var(--text-color-muted);
   }

   &__parameterized-by {
       font-family: monospace;
   }

   &__param-signature {
       font-size: 1.2em;
   }

   &__subsyntax-rules {
       margin-bottom: 1em;
   }

   &__subsyntax-name {
       font-family: monospace;
       color: var(--text-color-muted);
       margin-right: 5px;
   }

   &__subsyntax-signatures {
       display: grid;
   }

   @media (min-width: $media-breakpoint) {
       &__block--subsyntax &__block-header {
           grid-column: 1 / span 2;
       }
       &__subsyntax-signatures {
           grid-template-columns: auto 1fr;
       }
   }

   @media not all and (min-width: $media-breakpoint) {
       &__subsyntax-signatures {
           grid-template-columns: 1fr;
       }
   }

   &__block--subsyntax &__block-header {
       margin-bottom: 0.5em;
   }

   &__tags {
       grid-area: tags;
       display: flex;
       justify-self: end;
       align-self: start;
   }

   &__tag {
       transform: translateY(-0.5em);
       padding-left: 0.5em;
       padding-right: 0.5em;
       margin-left: 0.5em;
       border-radius: 5px;
       text-decoration: none;
       color: var(--tag-color);
       background-color: var(--tag-bg-color);
   }

   &__tag:hover {
       text-decoration: underline;
   }

}

.sexpr {
    font-family: monospace;

    &.sexpr-flex {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    &.sexpr-shrink {
        flex-shrink: 1;
    }

    &.muted {
        color: var(--text-color-muted);
    }

    &.syntaxbracket-0 {
        color: var(--text-color-muted);
    }

    &.syntaxbracket-1 {
        font-weight: bold;
        color: var(--accent-color);
    }

    &.syntaxbracket-2 {
        font-weight: bold;
        color: var(--secondary-color);
    }

    &.spacer {
        width: 0.25em;
    }

    &.bright-name {
        font-weight: bold;
        color: var(--accent-color);
    }

    &.muted-name {
        font-weight: bold;
        color: var(--text-color-muted);
    }

    &.bright-type {
        font-weight: bold;
        color: var(--secondary-color);
        text-decoration: none;
        cursor: pointer;
    }

    &.bright-type:hover {
        text-decoration: underline;
        opacity: 0.7;
    }

    &.bright-syntax {
        font-weight: bold;
        color: var(--tertary-color);
        text-decoration: none;
    }

    &.muted-type {
        font-weight: bold;
        color: var(--text-color-muted);
    }

    &.result-item-block-header {
        font-size: 0.8em;
        color: var(--text-color-muted);
    }
}
