<head>
    {{#title}}
    <title>Scheme Index | {{title}}</title>
    {{/title}}
    {{^title}}
    <title>Scheme Index</title>
    {{/title}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="FCfYmXfP7CsMeCWIojtfzm_2XKdR7fN9fFlrphO-u50"/>
    {{#light-theme}}
    <link href="/css/lighttheme.css" rel="stylesheet">
    {{/light-theme}}
    {{^light-theme}}
    <link href="/css/darktheme.css" rel="stylesheet">
    {{/light-theme}}
    <link href="/css/scmindex.css" rel="stylesheet">
    <link href="/fonts/Roboto/style.css" rel="stylesheet">
    <link href="/fonts/icomoon/style.css" rel="stylesheet">
    <script src="/js/scmindex.js"></script>
    <script>let FF_FIX;</script>
</head>
