<html lang="en">
    {{#head}}
        {{>head}}
    {{/head}}
    <body>
        {{#navigation}}
            {{>topnavigation}}
        {{/navigation}}
        <main class="index-page">
            <h1>R7RS index</h1>
            <p>R7RS index allows searching for R7RS-small and R7RS-large (work in progress) procedures, syntax and constants through types, tags, and names. Please see <a class="text-link" href="/README.html#_userguide_for_site_visitors">user guide</a> for details
            <form method="GET" action="/search" class="search">
                <input name="query" autocomplete="off" placeholder="Search ..." class="query" list="suggestions" oninput="updateSuggestions(this.value, 'suggestions')" aria-label="Search text">
                <datalist id="suggestions">
                </datalist>
                <button type="submit" class="search-button" aria-label="Search">
                    <span class="icon-search"></span>
                </button>
            </form>

            <p class="examples-tip">Handful examples
            <ul class="examples-list">
                <li>What's the syntax for `do` again? <br><a href="/search?query=do" class="example-link">Query by phrase "do"</a></li>
                <li>What does (scheme set) library has to offer?<br><a href="/search?lib=(scheme+set)" class="example-link">Query by library "(scheme set)"</a></li>
                <li>I have a list, how can I functionally transform it?<br><a href="/search?tag=pure&param=list%3F&return=list%3F" class="example-link">Query by tag "pure", parameter type "list?", return type "list?"</a></li>
            </ul>

            </hr>

            <h2>API (rest, stdin)</h2>
            <p>R7RS provides multiple options for integrating its search component with other software. Please consult <a class="example-link" href="/README.html">documentation</a> for details.</p>

            <h2>Report an issue</h2>
            <p>Please report any issues or suggestions you may have at <a class="text-link" href="https://github.com/arvyy/r7rs-index-site/issues">github</a>.</p>

            <div class="footer">
                <span>Copyright 2022 Arvydas Silanskas</span>
            </div>
        </main>
    </body>
</html>
