<html lang="en" class="theme-default">
    {{#head}}
    {{>head}}
    {{/head}}
    <body class="body preload">
        <div class="body__navbar">
            {{#navigation}}
            {{>topnavigation}}
            {{/navigation}}
        </div>
        <div class="body__content">
            <main class="index-page animated-enter">
                <h1 class="index-page__header">Scheme index</h1>
                <p>Scheme index allows searching for Scheme procedures, syntax and constants through types, tags, and names. Please see <a class="index-page__text-link" href="/README.html#_userguide_for_site_visitors">user guide</a> for details.

                <div class="index-page__filtersets">
                    {{# body }}
                    <a href="/filterset/{{{code}}}/search" class="index-page__filterset">
                        <span class="index-page__filterset-text">{{name}}</span>
                    </a>
                    {{/ body }}
                    <span class="index-page__filterset index-page__filterset--fake">
                        <span class="index-page__filterset-text">More to come...</span>
                    </span>
                </div>

                <p class="index-page__completeness-note">There are no guarantees about completeness of index for any of the scheme implementations.
                Scheme index is an ongoing process that prioritizes popular SRFIs. Niche SRFIs and implementation specific libraries might be missing.

                <h2 class="index-page__header">Command line application</h2>
                <p>Command line executable (thin rest client) <a class="index-page__text-link" href="http://github.com/arvyy/scheme-index-client/releases">is available here</a>.
                It provides an interactive (REPL) mode, as well as non-interactive execution mode. 
                The later can be integrated with your editor of choice. For example; if you use vim, add following to your 
                .vimrc to be able to lookup signature of an identifier under the cursor using "\?".
                <div class="codeblock">
                    <p class="codeblock__preformatted">let g:scmindexFilterset="r7rs_small"
fu! ScmIndexGet()
    let wordUnderCursor = expand("&lt;cword&gt;")
    let result = system("scmindex -f " . g:scmindexFilterset . " -q " . wordUnderCursor . " -s")
    echo result
endfunc
nnoremap &lt;silent&gt; &lt;leader&gt;? :call ScmIndexGet()&lt;cr&gt;</p>
                </div>

                <h2 class="index-page__header">REST API</h2>
                <p>Scheme index provides REST API integration.
                <div class="codeblock">
                    <p><span class="codeblock__dollar">$</span>&nbsp;curl 'https://index.scheme.org/rest/filterset/chibi/search?query=define-record-type&amp;facet=false'
                    <p>{"items":[{"lib":"(scheme base)","name":"define-record-type","type":"syntax","func_signature":null,"syntax_signature":{"literals":[],"patterns":[{"pattern":"(name constructor pred field ...)","type":null}]},"func_param_signatures":[],"syntax_subsyntax_signatures":[{"name":"constructor","patterns":["(constructor-name field-name ...)"]},{"name":"field","patterns":["(field-name accessor-name)","(field-name accessor-name modifier-name)"]}],"syntax_param_signatures":[],"tags":[],"param_types":[],"return_types":[],"parameterized_by":[],"spec_values":[],"super_types":[]}],"total":1}
                </div>
                <p>Please consult <a class="index-page__text-link" href="/README.html">documentation</a> for details.</p>

                <h2 class="index-page__header">Report an issue</h2>
                <p>Please report any issues or suggestions you may have at <a class="index-page__text-link" href="https://github.com/arvyy/r7rs-index-site/issues">github</a>.</p>

                <div class="index-page__footer">
                    <span>Copyright 2022 Arvydas Silanskas</span>
                </div>
            </main>
        </div>
    </body>
</html>
