<article class="procedure">
    <div class="lib">
        <span class="muted">(import </span><a href="?lib={{lib}}" class="lib-link">{{lib}}</a><span class="muted">)</span>
    </div>
    <div class="main-signature">
        {{# signature}}
            {{> sexpr }}
        {{/ signature}}
    </div>
    {{# has-param-signatures? }}
    <div class="param-signatures">
        <div class="result-item-block-header">Expanded typing of parameters / returns</div>
        {{# param-signatures }}
        <div class="param-signature">
            {{> sexpr }}
        </div>
        {{/ param-signatures }}
    </div>
    {{/ has-param-signatures? }}

    {{# has-subsyntax-signatures? }}
    <div class="subsyntax-signatures-block">
        <div class="result-item-block-header">Syntax fragments' format</div>
        <div class="subsyntax-signatures">
            {{# subsyntax-signatures }}
            <span class="subsyntax-name">&#x27E8;{{name}}&#x27E9;:&nbsp;</span>
            <div class="subsyntax-rules">
                {{# rules }}
                    {{> sexpr }}
                {{/ rules }}
            </div>
            {{/ subsyntax-signatures }}
        </div>
    </div>
    {{/ has-subsyntax-signatures? }}

    {{# has-syntax-param-signatures? }}
    <div class="syntax-param-signatures">
        <div class="result-item-block-header">Syntax fragments' expected runtime types</div>
        {{# syntax-param-signatures}}
        <div class="param-signature">
            {{> sexpr }}
        </div>
        {{/ syntax-param-signatures}}
    </div>
    {{/ has-syntax-param-signatures? }}

    <div class="tags">
        {{# tags }}
            <a class="tag tag-{{.}}" href="?tag={{.}}">{{ . }}</a>
        {{/ tags }}
    </div>
</article>
