<html lang="en">
    {{#head}}
        {{>head}}
    {{/head}}
    <body>
        {{#navigation}}
            {{>topnavigation}}
        {{/navigation}}
        {{#body}}
        <main class="search-page">
            <aside class="search-controls">
                <form method="get" action="" class="search-form">
                    <div class="query-cnt">
                        <input id="query-field" name="query" autocomplete="off" value="{{query}}" class="query" placeholder="Search ..." list="suggestions" oninput="updateSuggestions(this.value, 'suggestions')" aria-label="Search text">
                        <datalist id="suggestions">
                        </datalist>
                        <button type="submit" aria-label="Search" class="search-button">
                            <span class="icon-search"></span>
                        </button>
                    </div>
                    <div class="facets">
                        {{# facets }}
                        <fieldset class="facet">
                            <legend>{{ title }}</legend>
                            {{# options }}
                            <label class="facet-option">
                                <input type="checkbox" 
                                       name="{{ name }}" 
                                       value="{{ value }}" 
                                       {{# selected? }} checked {{/ selected? }}
                                       >
                                       <span class="facet-text">
                                           <span class="facet-value">{{ label }}</span>
                                           <span class="facet-count">({{ count }})</span>
                                       </span>
                            </label>
                            {{/ options }}
                        </fieldset>
                        {{/ facets }}
                    </div>
                </form>
            </aside>
            <section class="search-result">
                <div class="funcs">
                    {{# procedures }}
                        {{> procedure }}
                    {{/ procedures }}
                </div>
                <footer class="pager">
                    {{# pages }}
                        {{# gap? }}
                            <span class="page-gap">...</span>
                        {{/ gap? }}
                        {{^ gap? }}
                            {{# link }}
                                <a class="page" href="{{link}}">{{ number }}</a>
                            {{/ link }}
                            {{^ link }}
                                <span class="page active">{{ number }}</span>
                            {{/ link}}
                        {{/ gap? }}
                    {{/ pages }}
                </footer>
            </section>
        </main>
        {{/body}}
    </body>
</html>
