<html>
    <head>
        <title>R7RS Index - Search</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/scmindex.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="icon" href="/scmindex.png">
        <script>let FF_FIX;</script>
    </head>
    <body class="search-page">
        <form method="get" action="" class="search-form">
            <div class="query-cnt">
                <input name="query" value="{{query}}" class="query" placeholder="Search ...">
                <button type="submit" value="" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="facets">
            {{# facets }}
            <fieldset class="facet">
                <legend>{{ title }}</legend>
                {{# options }}
                    <label class="facet-option">
                        <input type="checkbox" 
                               name="{{ name }}" 
                               value="{{ value }}" 
                               {{# selected }} checked {{/ selected}}
                        >
                        <span class="facet-text">
                            <span class="facet-value">{{ value }}</span>
                            <span class="facet-count">({{ count }})</span>
                        </span>
                    </label>
                {{/ options }}
            </fieldset>
            {{/ facets }}
            </div>
        </form>
        <main>
            <div class="funcs">
                {{# procedures }}
                {{> procedure }}
                {{/ procedures }}
            </div>
            <div class="pager">
                {{# pages }}
                    {{# link }}
                    <a class="page" href="{{link}}">{{ number }}</a>
                    {{/ link }}
                    {{^ link }}
                    <span class="page active">{{ number }}</span>
                    {{/ link}}
                {{/ pages }}
            </div>
        </main>
    </body>
</html>
