<article class="search-item">
    <div class="search-item__lib">
        <a href="{{lib.href}}" class="search-item__lib-link">{{lib.label}}</a>
    </div>
    <div class="search-item__main-signature">
        {{# signature}}
            {{> sexpr }}
        {{/ signature}}
    </div>

    <div class="search-item__extra-info">
        {{# has-param-signatures? }}
        <div class="search-item__block search-item__block--params">
            {{# param-signatures }}
            <div class="search-item__param-signature">
                {{> sexpr }}
            </div>
            {{/ param-signatures }}
        </div>
        {{/ has-param-signatures? }}

        {{# has-subsyntax-signatures? }}
        <div class="search-item__block search-item__block--subsyntax">
            <div class="search-item__subsyntax-signatures">
                {{# subsyntax-signatures }}
                <span class="search-item__subsyntax-name-wrapper">&#x27E8;<span class="search-item__subsyntax-name">{{name}}</span>&#x27E9;:=&nbsp;</span>
                <div class="search-item__subsyntax-rules">
                    {{# rules }}
                        {{> sexpr }}
                    {{/ rules }}
                </div>
                {{/ subsyntax-signatures }}
            </div>
        </div>
        {{/ has-subsyntax-signatures? }}

        {{# has-spec-values? }}
        <div class="search-item__block search-item__block--spec-values">
            {{# spec-values }}
            <div>
                <span class="search-item__spec-value-field-name">{{name}}</span>
                <div class="search-item__spec-value-field-values">
                    {{# values }}
                    <div class="search-item__spec-value-field-value">{{value}}</div>
                    <div class="search-item__spec-value-field-value-desc">{{description}}</div>
                    {{/ values }}
                </div>
            </div>
            {{/ spec-values }}
        </div>
        {{/ has-spec-values? }}

        {{# has-parameterized-by? }}
        <div class="search-item__block search-item__block--parameterized">
            <div class="search-item__block-header">Parameterized by</div>
            {{# parameterized-by }}
            <div class="search-item__parameterized-by">
                {{.}}
            </div>
            {{/ parameterized-by }}
        </div>
        {{/ has-parameterized-by? }}

        {{# has-description? }}
        <div class="search-item__block search-item__block-description">{{description}}</div>
        {{/ has-description? }}
    </div>

    <div class="search-item__tags">
        {{# tags }}
            <a class="search-item__tag search-item__tag-{{label}}" href="{{href}}">{{label}}</a>
        {{/ tags }}
    </div>
</article>
