<html lang="en" class="theme-default">
    {{#head}}
        {{>head}}
    {{/head}}
    <body class="body preload">
        <div class="body__navbar">
        {{#navigation}}
            {{>topnavigation}}
        {{/navigation}}
        </div>
        {{#body}}
        <h1 style="font-size: 0">Search</h1>
        <main class="body__content search-page">
            <aside class="search-page__controls" aria-label="Search controls" id="search-controls">
                <div class="search-page__controls-hidden-header">
                    <button id="search-controls-open" class="search-page__controls-open" aria-label="Expand search controls">
                        <span class="icon-circle-right"></span>
                    </button>
                    <span class="search-page__controls-hidden-header-text">Search controls</span>
                </div>
                <div class="search-page__controls-visible-header">
                    <h2 class="search-page__controls-visible-header-text">{{filterset}}</h2>
                    <button id="search-controls-close" class="search-page__controls-close" aria-label="Collapse search controls">
                        <span class="icon-circle-right"></span>
                    </button>
                </div>
                <form method="get" action="" class="search-page__filter-form" id="search-form" onsubmit="collapseControlsForSmallScreen()">
                    <div class="search-page__query-cnt">
                        <input id="query-field" name="query" autocomplete="off" value="{{query}}" class="search-page__query" placeholder="Search ..." aria-label="Search text">
                        <button type="submit" aria-label="Search" class="primary-button">
                            <span class="icon-search"></span>
                        </button>
                    </div>
                    <div class="search-page__facets">
                        {{# facets }}
                        <div class="search-page__facet-wrap">
                            <fieldset class="search-page__facet" id="facet-{{name}}">
                                <legend class="search-page__facet-legend">{{ title }}</legend>
                                {{# show-facet-controls? }}
                                <div class="search-page__facet-controls">
                                    <button onclick="collapseFacet(event, 'facet-{{name}}')" class="search-page__facet-button search-page__facet-button--expanded" aria-label="Collapse {{title}} facet">
                                        <span class="icon-folder-open" aria-hidden="true"></span>
                                    </button>
                                    <button onclick="expandFacet(event, 'facet-{{name}}')" class="search-page__facet-button search-page__facet-button--collapsed" aria-label="Collapse {{title}} facet">
                                        <span class="icon-folder" aria-hidden="true"></span>
                                    </button>
                                    <input class="search-page__facet-search" oninput="searchFacet(event, 'facet-{{name}}')" placeholder="Filter {{title}} facet ..." aria-label="Filter {{title}} facet">
                                </div>
                                {{/ show-facet-controls? }}
                                {{# options }}
                                <label class="search-page__facet-option checklist-item">
                                    <input type="checkbox" 
                                           name="{{ name }}" 
                                           value="{{ value }}" 
                                           class="checklist-item__value-input"
                                           {{# selected? }} checked {{/ selected? }}>
                                   <span class="checklist-item__value-text">
                                       <span class="search-page__facet-value">{{ label }}</span>
                                       <span class="search-page__facet-count">({{ count }})</span>
                                   </span>
                                </label>
                                {{/ options }}
                            </fieldset>
                        </div>
                        {{/ facets }}
                    </div>
                </form>
            </aside>
            <section class="search-page__search-result definition-list animated-enter" aria-label="Search results">
                {{! extra div wrapping for shadow }}
                <div class="definition-list__content-shadow">
                    {{# search-items }}
                        {{> search-item }}
                    {{/ search-items }}
                </div>
                <footer class="pager" aria-label="Pager">
                    {{# pages }}
                        {{# gap? }}
                            <span class="pager__gap">...</span>
                        {{/ gap? }}
                        {{^ gap? }}
                            {{# link }}
                                <a class="pager__page pager__page--inactive" href="{{link}}">{{ number }}</a>
                            {{/ link }}
                            {{^ link }}
                                <span class="pager__page pager__page--active">{{ number }}</span>
                            {{/ link}}
                        {{/ gap? }}
                    {{/ pages }}
                </footer>
            </section>
        </main>
        {{/body}}
    </body>
</html>
