<html lang="en" class="theme-default">
    {{#head}}
        {{> head }}
    {{/head}}
    <body class="body">
        <div class="body__navbar">
            {{#navigation}}
                {{>topnavigation}}
            {{/navigation}}
        </div>
        <div class="body__content">
            <main class="settings-page">
                <h1 class="settings-page__header">Settings</h1>
                <p class="settings-page__tip settings-page__tip--general">Here you can customize certain behavior aspects of the site. The choices are stored in cookies upon pressing "Save".
                <form action="/settings" method="POST" class="settings-page__form">
                    {{# body }}
                    <div class="settings-page__group-wrap">
                        <fieldset class="settings-page__group">
                            <legend class="settings-page__group-legend">{{ legend }}</legend>
                            <span class="settings-page__tip">{{description}}</span>
                            {{# options }}
                            <label class="settings-page__value checklist-item">
                                <input type="radio" 
                                       name="{{ name }}" 
                                       value="{{ value }}"
                                       class="checklist-item__value-input"
                                       {{# selected? }} checked {{/ selected? }}
                                       >
                                       <span class="checklist-item__value-text">{{ value }}</span>
                            </label>
                            {{/ options }}
                        </fieldset>
                    </div>
                    {{/ body }}
                    <button type="submit" class="settings-page__save primary-button">Save</button>
                </form>
            </main>
        </div>
    </body>
</html>
