<div class="signature">
{{# chunks }}
    <div class="chunk">
    {{# . }}
        {{# plain }}
        <span class="plain {{class}}">{{ text }}</span>
        {{/ plain }}
        {{# important }}
            {{# link }}
                <a href="{{link}}" class="important {{class}}">
                    {{text}}
                </a>
            {{/ link }}
            {{^ link }}
            <span class="important {{class}}">{{ text }}</span>
            {{/ link }}
        {{/ important }}
    {{/ . }}
    </div>
{{/ chunks }}
</div>
