<li>
    {{#active?}}
        <span class="nav-link-active"><span class="{{icon-cls}}"></span>&nbsp;{{label}}</span>
    {{/active?}}
    {{^active?}}
        {{# link }}
            <a href="{{link}}" class="nav-link"><span class="{{icon-cls}}"></span>&nbsp;{{label}}</a>
        {{/ link }}
        {{^ link }}
            <span class="nav-link"><span class="{{icon-cls}}"></span>&nbsp;{{label}}</span>
        {{/ link }}
    {{/active?}}
    {{# has-items? }}
        <ul class="nested-level">
            {{# items }}
                {{> topnavigationitem }}
            {{/ items }}
        </ul>
    {{/ has-items? }}
</li>
