<div class="search-page">
    <filter-pane *ngIf="filterpaneParams | async; let params"
                 [query]="params.query"
                 [response]="params.response"
                 [collapsed]="facetCollapsed"
                 (collapseChange)="onFacetCollapseChange($event)"
                 (queryChange)="onQueryChange($event)"
                 class="search-page__controls"
                 [class.search-page__controls--hidden]="facetCollapsed" />
    <section class="search-page__search-result definition-list animated-enter" aria-label="Search results" #results_container>
        <div class="definition-list__content-shadow" *ngIf="results | async; let results">
            <app-search-item *ngFor="let result of results" [searchitem]="result" [routerResolver]="seachItemRouterResolver"/>
        </div>
        <app-pager *ngIf="pagerParams | async; let pager" [pageSize]="pager.pageSize" [page]="pager.page" [total]="pager.total" (onPageClick)="onPageClick($event)"/>
    </section>
</div>
