<nav class="navbar">
  <ul class="navbar__list navbar__list--toplevel">
    <li class="navbar__list-item">
      <a href="https://scheme.org"
      class="navbar__link navbar__link--clickable navbar__link--schemeorg">Scheme.org</a>
    </li>
    @for (item of navbarItems | async; track item) {
      <ng-container *ngTemplateOutlet="navbaritem; context: {item: item}"/>
    }
  </ul>
  <div class="theme-cb-wrapper">
    <select #themecb class="theme-cb" (change)="onSelectTheme(themecb.value)" [(ngModel)]="selectedTheme">
      <option value="default">System default</option>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
    theme
  </div>
</nav>
<div class="routeview">
  <router-outlet></router-outlet>
</div>

<ng-template #navbaritem let-item="item">
  <li class="navbar__list-item">
    @if (item.isActive) {
      <span class="navbar__link navbar__link--active">
        @if (item.icon) {
          <fa-icon [icon]="item.icon"></fa-icon>
          }&nbsp;{{item.label}}
        </span>
      }
      @if (!item.isActive && item.link) {
        <a [routerLink]="item.link" class="navbar__link navbar__link--clickable">
          @if (item.icon) {
            <fa-icon [icon]="item.icon"></fa-icon>
            }&nbsp;{{item.label}}
          </a>
        }
        @if (!item.isActive && !item.link) {
          <span class="navbar__link">
            @if (item.icon) {
              <fa-icon [icon]="item.icon"></fa-icon>
              }&nbsp;{{item.label}}
            </span>
          }
          @if (item.items.length > 0) {
            <ul class="navbar__list navbar__list--nestedlevel">
              @for (item of item.items; track item) {
                <ng-container *ngTemplateOutlet="navbaritem; context: {item: item}" />
              }
            </ul>
          }
        </li>
      </ng-template>
