@if (componentSearchItemGroup | async; as group) {
  <article class="search-item">
    <div class="search-item__lib">
      @if (group.lib.link; as link) {
        <a [routerLink]="link.routerLink" [queryParams]="link.queryParams" class="search-item__lib-link">{{group.lib.label}}</a>
      }
    </div>
    @for (e of group.entries; track e) {
      <ng-container *ngTemplateOutlet="single; context: {item: e}"></ng-container>
    }
    @if (group.description) {
      <div class="search-item__description">{{group.description}}</div>
    }
  </article>
}

<ng-template #single let-item="item">
  <div class="search-item__entry">
    <div class="search-item__head">
      <div class="search-item__main-signature signature">
        @if (item.signature.type === 'function') {
          @for (variant of item.signature.variants; track variant) {
            <div>
              <ng-container *ngTemplateOutlet="function_signature; context: {item: item.searchItem, name: item.name, variant: variant, nolink: false}">
              </ng-container>
            </div>
          }
        }
        @if (item.signature.type === 'value') {
          <ng-container *ngTemplateOutlet="value_signature; context: {item: item.searchItem, name: item.name, value: item.signature.value, toplevel: true}"/>
        }
        @if (item.signature.type === 'syntax') {
          @for (variant of item.signature.patterns; track variant) {
            <div>
              <ng-container *ngTemplateOutlet="syntax_signature; context: {item: item.searchItem, variant: variant, literals: item.signature.literals}">
              </ng-container>
            </div>
          }
        }
      </div>
      @if (item.tags.length) {
        <div class="search-item__tags">
          @for (tag of item.tags; track tag) {
            @if (tag.link; as link) {
              <a class="search-item__tag search-item__tag-{{tag.label}}" [routerLink]="link.routerLink" [queryParams]="link.queryParams">{{tag.label}}</a>
            }
          }
        </div>
      }
    </div>

    <div class="search-item__extra-info">
      @if (item.subsignatures) {
        <div class="search-item__block search-item__block--params">
          @for (subsig of item.subsignatures; track subsig) {
            <div class="search-item__param-signature signature">
              @if (subsig.signature.type === 'function') {
                @for (variant of subsig.signature.variants; track variant) {
                  <div>
                    <ng-container *ngTemplateOutlet="function_signature; context: {item: item.searchItem, name: subsig.name, variant: variant, nolink: true}"/>
                  </div>
                }
              }
              @if (subsig.signature.type === 'value') {
                <ng-container *ngTemplateOutlet="value_signature; context: {item: item.searchItem, name: subsig.name, value: subsig.signature.value, toplevel: false}"/>
              }
              @if (subsig.signature.type === 'vector') {
                <ng-container *ngTemplateOutlet="vector_signature; context: {item: item.searchItem, name: subsig.name, element: subsig.signature.element}"/>
              }
              @if (subsig.signature.type === 'list') {
                <ng-container *ngTemplateOutlet="list_signature; context: {item: item.searchItem, name: subsig.name, element: subsig.signature.element}"/>
              }
              @if (subsig.signature.type === 'alist') {
                <ng-container *ngTemplateOutlet="alist_signature; context: {item: item.searchItem, name: subsig.name, car: subsig.signature.car, cdr: subsig.signature.cdr}"/>
              }
              @if (subsig.signature.type === 'pattern') {
                <ng-container *ngTemplateOutlet="pattern_signature; context: {name: subsig.name, literals: getSyntaxLiterals(item.signature), patterns: subsig.signature.patterns}"/>
              }
            </div>
          }
        </div>
      }

      @if (item.description) {
        <div class="search-item__block search-item__description">{{item.description}}</div>
      }
    </div>
  </div>
</ng-template>

<ng-template #function_signature let-name="name" let-item="item" let-variant="variant" let-nolink="nolink">
  (@if (nolink || !routerResolver(item, 'name', name)) {
  <span class="signature__name">{{name}}</span>
  }@if (!nolink && routerResolver(item, 'name', name); as link) {
  <a class="signature__name" [routerLink]="link.routerLink" [queryParams]="link.queryParams">{{name}}</a>
}
@for (param of variant.params; track param) {
  &ngsp;<ng-container *ngTemplateOutlet="function_param; context: {item: item, param: param, nolink: nolink}"/>
  })
  <ng-container *ngTemplateOutlet="function_return; context: {item: item, return: variant.return, nolink: nolink}"/>
</ng-template>

<ng-template #function_param let-param="param" let-item="item" let-nolink="nolink">
  @if (param.types.length) {
    (@for (type of param.types; track type; let last = $last) {
    @if (!nolink && type !== '#f') {
      @if (routerResolver(item, 'param', type); as link) {
        <a [routerLink]="link.routerLink" [queryParams]="link.queryParams" class="signature__type">{{type}}</a>
      }
    }
    @if (nolink && type !== '#f') {
      <span class="signature__type">{{type}}</span>
    }
    @if (type === '#f') {
      <span class="signature__false-literal">{{type}}</span>
    }
    @if (!last) {
      /
    }
    }&ngsp;{{param.name}})
  }
  @if (!param.types.length) {
    {{param.name}}
  }
</ng-template>

<ng-template #function_return let-item="item" let-return="return" let-nolink="nolink">
  @if (return.type !== 'undefined') {
    =&gt;
    <ng-container *ngTemplateOutlet="function_return_internal; context: {item: item, return: return, nolink: nolink}"/>
  }
</ng-template>

<ng-template #function_return_internal let-item="item" let-return="return" let-nolink="nolink">
  @if (return.kind === 'return' && return.type === '#f') {
    <span class="signature__false-literal">{{return.type}}</span>
  }
  @if (return.kind === 'return' && !isAuxiliaryType(return.type)) {
    @if (!nolink) {
      @if (routerResolver(item, 'return', return.type); as link) {
        <a class="signature__type" [routerLink]="link.routerLink" [queryParams]="link.queryParams">{{return.type}}</a>
      }
    }
    @if (nolink) {
      <span class="signature__type">{{return.type}}</span>
    }
  }
  @if (return.kind === 'return' && isAuxiliaryType(return.type) && return.type !== '#f') {
    {{return.type}}
  }
  @if (return.kind === 'values') {
    (values
    @for (r of return.items; track r) {
      &ngsp;<ng-container *ngTemplateOutlet="function_return_internal; context: {item: item, return: r}"/>
      })
    }
    @if (return.kind === 'or') {
      @for (r of return.items; track r; let last = $last) {
        <ng-container *ngTemplateOutlet="function_return_internal; context: {item: item, return: r}">
        </ng-container>
        @if (!last) {
          /
        }
      }
    }
  </ng-template>

  <ng-template #value_signature let-item="item" let-name="name" let-value="value" let-toplevel="toplevel">
    @if (toplevel && routerResolver(item, 'name', item.name); as link) {
      <a class="signature__name" [routerLink]="link.routerLink" [queryParams]="link.queryParams">{{name}}</a>
      }@if (!toplevel || !routerResolver(item, 'name', item.name)) {
      <span class="signature__name">{{name}}</span>
      } <ng-container *ngTemplateOutlet="function_return; context: {item: item, return: value}"/>
    </ng-template>

    <ng-template #syntax_signature let-item="item" let-variant="variant" let-literals="literals">
      (@if (!routerResolver(item, 'name', item.name)) {
      <span class="signature__name--syntax">{{item.name}}</span>
      }@if (routerResolver(item, 'name', item.name); as link) {
      <a class="signature__name--syntax" [routerLink]="link.routerLink" [queryParams]="link.queryParams">{{item.name}}</a>
    }
    @for (part of highlightSyntaxSignature(literals, variant.pattern); track $index) {
      <ng-container *ngTemplateOutlet="colored_text; context: {part: part}"/>
    }
    @if (variant.type) {
      <ng-container *ngTemplateOutlet="function_return; context: {item: item, return: variant.type}"/>
    }
  </ng-template>

  <ng-template #vector_signature let-item="item" let-name="name" let-element="element">
    {{name}} =&gt; #(<ng-container *ngTemplateOutlet="function_param; context: {item: item, param: element}"/> ...)
  </ng-template>

  <ng-template #list_signature let-item="item" let-name="name" let-element="element">
    {{name}} =&gt; '(<ng-container *ngTemplateOutlet="function_param; context: {item: item, param: element}"/> ...)
  </ng-template>

  <ng-template #alist_signature let-item="item" let-name="name" let-car="car" let-cdr="cdr">
    {{name}} =&gt; '((<ng-container *ngTemplateOutlet="function_param; context: {item: item, param: car}"/> . <ng-container *ngTemplateOutlet="function_param; context: {item: item, param: cdr}"/>) ...)
  </ng-template>

  <ng-template #pattern_signature let-name="name" let-literals="literals" let-patterns="patterns">
    <div class="signature__pattern-block">
      <div class="signature__pattern-block-name">{{name}} :=</div>
      <div>
        @for (p of patterns; track p) {
          <div>
            @for (p of highlightLiterals(literals, p); track $index) {
              <ng-container *ngTemplateOutlet="colored_text; context: {part: p}"/>
            }
          </div>
        }
      </div>
    </div>
  </ng-template>

  <ng-template #colored_text let-part="part">
    @if (part.kind === 'plain') {
      {{part.text}}
    }
    @if (part.kind === 'literal') {
      <span class="signature__syntax">{{part.text}}</span>
    }
    @if (part.kind === 'name') {
      <span class="signature__syntax">{{part.text}}</span>
    }
  </ng-template>
