$padding-breakpoint: 1000px;
$media-breakpoint: 600px;


.search-item {
    background-color: var(--bg-color2);
    padding: 1em;
    line-height: 1.5em;

    &__head {
        display: flex;
        justify-items: center;
    }

    &__entry {
        display: flex;
        flex-direction: column;
    }

    &__lib {
        font-size: 0.8em;
        margin-bottom: 0.8em;
    }

    &__lib-link {
        color: var(--secondary-color);
        text-decoration: none;
    }

    &__lib-link:hover {
        text-decoration: underline;
    }

    &__main-signature {
        flex: 1;
        font-size: 1.5em;
    }

    &__extra-info {
    }

    &__block{
        margin-top: 0.8em;
    }


    &__description {
        white-space: pre-wrap;
        color: var(--text-color-muted);
    }

    &__spec-value-field-name {
        color: var(--text-color-muted);
        font-weight: bold;
    }

    &__spec-value-field-values {
        column-gap: 1em;
        row-gap: 0.5em;
    }

    &__spec-value-field-value {
        color: var(--tertary-color);
        font-weight: bold;
    }

    &__spec-value-field-value-desc {
        color: var(--text-color-muted);
    }

    &__parameterized-by {
        font-family: monospace;
    }

    &__param-signature {
        font-size: 1.2em;
    }

    &__subsyntax-rules {
        margin-bottom: 1em;
    }

    &__subsyntax-name-wrapper {
        color: var(--text-color-muted);
        margin-right: 5px;
    }

    &__subsyntax-name {
        font-weight: bold;
    }

    &__subsyntax-signatures {
        display: grid;
        font-family: monospace;
        font-size: 1.2em;
    }

    @media (min-width: $media-breakpoint) {
        &__block--subsyntax &__block-header {
            grid-column: 1 / span 2;
        }
        &__subsyntax-signatures {
            grid-template-columns: auto 1fr;
        }
    }

    @media not all and (min-width: $media-breakpoint) {
        &__subsyntax-signatures {
            grid-template-columns: 1fr;
        }
    }

    &__block--subsyntax &__block-header {
        margin-bottom: 0.5em;
    }

    &__tags {
        display: flex;
        align-self: end;
    }

    &__tag {
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-left: 0.5em;
        border-radius: 5px;
        text-decoration: none;
        color: var(--tag-color);
        background-color: var(--tag-bg-color);
    }

    &__tag:hover {
        text-decoration: underline;
    }

}

.signature {
    font-family: monospace;
    &__name {
        font-weight: bold;
        color: var(--accent-color);
    }
    &__name--syntax {
        font-weight: bold;
        color: var(--tertary-color);
    }
    &__type {
        font-weight: bold;
        color: var(--secondary-color);
    }
    &__false-literal {
        font-weight: bold;
        color: var(--tertary-color);
    }
    &__syntax {
        font-weight: bold;
        color: var(--tertary-color);
    }
    &__pattern-block {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    &__pattern-block-name {
        margin-right: 1em;
    }
    &__paren,
    &__ellipsis {
        color: var(--text-color-muted);
    }
}
