.pager {
    margin-top: 20px;
    display: flex;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 24px;

    &__page {
        cursor: pointer;
        text-decoration: none;
        color: var(--text-color-muted);
        font-weight: bold;
        background-color: var(--bg-color2);
        min-width: 1.5em;
        padding: 0.2em;
        line-height: 1.5em;
        text-align: center;
    }

    &__page--inactive:hover {
        background-color: var(--accent-color);
        color: var(--text-color-against-accent);
    }

    &__page:first-child {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    &__page:last-child {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__page--active {
        background-color: var(--accent-color);
        color: var(--text-color-against-accent);
        cursor: default;
    }

    &__gap {
        color: var(--text-color-muted);
        background-color: var(--bg-color2);
        min-width: 1.5em;
        padding: 0.2em;
        line-height: 1.5em;
        text-align: center;
    }
}
